/* App.css */
body, h1, p, button, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Add your font links here (e.g., Google Fonts) */


.red-hat-display {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #083252; /* Replace with your actual color */
  padding: 1.5rem 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.ai-imgs {
  color: #ffffff;
  font-weight: 500;
  font-size: 134%;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}
nav a {
  text-decoration: none;
  color: white; /* Replace with your actual color */
  font-weight: bold;
}

.hero {
  background-image: url('./himgcopy.jpg'); /* Replace with your actual image */
  background-size: cover;
  color: #083252; /* Replace with your actual text color */
  padding: 2rem;
  padding-top: 6rem;
  padding-bottom: 10rem;
}
.hero div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero button {
  padding: 1rem 2rem;
  background-color: #6E8A9E; /* Replace with your actual button color */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.hero button:hover {
  background-color: #6E8A9E; /* Darker shade for hover state */
}
/* .img-for img {
  margin-left: 30px;
  margin-right: 25px;
} */
.features {
  background-color: #083252;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
}
.right-side {
  margin-bottom: 27px;
  color: #ffffff;

}
.feature {
  font-weight: bolder;
  text-align: left;
  padding: 1rem;
}

.feature img {
  width: 80px; /* Replace with your actual icon size */
  margin-bottom: 1rem;
}

.feature h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.feature p {
  font-size: 1rem;
}

.contact-section {
  background-color: #083252;
  padding: 1rem;
}
.section {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #ffffff;
}
.contact-section h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #3e6582;
}
.contact-section h2 {
  color:   #6E8A9E;
}
.title {
  font-size: larger;
  font-weight: bolder;
}
.way {
  color: #083252;
}
 .ways {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #083252; /* Replace with your actual footer background color */
  color: #000000; /* Replace with your actual footer text color */
  padding: 1rem ;
}
.ai-img {
  color: #ffffff;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.left-side-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #6E8A9E; /* Replace with your actual color */
  font-weight: lighter;
}
.right-side-footer {
  display: flex;
  flex-direction: column;
  color: #6E8A9E; /* Replace with your actual color */
  font-weight: lighter;
  
}
footer p {
  margin-bottom: 0.5rem;
}

.foot-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.foot-list a {
  text-decoration: none;
  color: #6E8A9E; /* Replace with your actual color */
  font-weight: lighter;
  align-items: flex-end;
}
/* Responsive Grid for Features */
@media (max-width: 768px) {
  .features {
    grid-template-columns: 1fr;
  }
}
